pytest >=6.2
pytest-xdist
opt_einsum
cffi >=1.0.0
setuptools >=77.0.3
nbformat
nbconvert
cirq-core
qiskit>=1.4.2,<3
qiskit-aer
pylatexenc
jsonschema == 4.17.3
networkx
mpi4py
stim ~= 1.16
deltakit-stim
nccl4py >=0.3.1, <0.4
